@charset "UTF-8";

body{
    background-color: rgb(218, 189, 245);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
h1{
    color: blueviolet;
    background-color: rgb(202, 247, 247);
}
h2{
    font-size: 1.2em;
}
p{
    text-align: justify;
}